<html>
    <head>
        <title>SQL-TO-SNOW</title>
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
          rel="stylesheet"
        />
    </head>
    <body>
        <div class="container col-md-4">
            <br>
            <center>
                <h2>- ANALYTICS -</h2>
                <h1>- CSV to SQL / SQL to SNOW -</h1>
            </center>
            <form>
                <!-- Message input -->
            <div class=" mb-4" >
                <label class="form-label" for="csvFile">CSV file</label>
                <input type="file" class="form-control" id="csvFile"/>
            </div>
                <!-- Submit button -->
            <button type="button"
                    id="convert_it0"
                    onclick="convert_it();"
                    class="btn btn-warning btn-block mb-4">
                Csv to Sql
            </button>

              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control"
                          id="sqlQuery"
                          rows="8"
                          placeholder="CREATE DATABASE IF NOT EXISTS test;

CREATE TABLE table_1(
    t_id INT(11) NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) UNIQUE,
    description TEXT,

    PRIMARY KEY (t_id)
);

CREATE TABLE table_2(
    d_id INT(11) NOT NULL AUTO_INCREMENT,
    t_id INT(11) NOT NULL,
    description TEXT,

    PRIMARY KEY (d_id),
    FOREIGN KEY (d_id) REFERENCES table_1(t_id)
);
"></textarea>
                <label class="form-label" for="sqlQuery">SQL Query</label>
              </div>

            <div class="row">
                <div class="col-md">
                    <button type="button"
                            id="copy_content0"
                            onclick="copy2();"
                            class="btn col-md btn-secondary btn-block mb-4">
                        Copy SQL Query
                    </button>
                </div>

                <div class="col-md">
                        <button type="button"
                                id="convert_it"
                                onclick="send_sql();"
                                class="btn col-md btn-primary btn-block mb-4">
                            Sql to Snow
                        </button>
                </div>
            </div>

            <!-- Message input -->
            <div class="form-outline mb-4" >
                <textarea class="form-control"
                          placeholder="Your generated SnowSQL query will be print here with some stats."
                          id="snowQuery" rows="5"></textarea>
            </div>

            <button type="button"
                    id="copy_content"
                    onclick="copy();"
                    class="btn btn-block mb-4">
                Copy SNOW Query
            </button>
        </form>
        <hr>
        </div>

        <center>
            by <a href="https://github.com/sanix-darker">darker</a>
        </center>

        <!-- MDB -->
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
        ></script>
        <script type="text/javascript">
            const send_sql = async () => {
              document.getElementById("convert_it").value = "CONVERSION IN PROGRESS...."
              const rawResponse = await fetch('/convert-snow', {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                        sql_query: document.getElementById("sqlQuery").value
                    })
              });
              const content = await rawResponse.json();

              const regex = /\\n|\\r\\n|\\n\\r|\\r/g;
              document.getElementById("snowQuery").value = `-- query_id : ${content.qid}\n`.replace(regex, '<br>')
              document.getElementById("snowQuery").value += `-- elapsed_time : ${content.elapsed}s\n`.replace(regex, '<br>')
              document.getElementById("snowQuery").value += `-- snow-query : \n\n`.replace(regex, '<br>')
              document.getElementById("snowQuery").value += content.snow_query.replace(regex, '<br>');

              document.getElementById("convert_it").value = "Convert Sql to Snow"
              console.log(content);
            }

            const send_csv = async () => {
                const formData  = new FormData();

                const fileInput = document.querySelector('#convert_it0') ;
                const formData = new FormData();

                formData.append('file', fileInput.files[0]);

              const response = await fetch("/convert-sql", {
                method: 'POST',
                body: formData
              });
            }
        </script>
    </body>
</html>